.BoardSide {
    display: flex;
    position: relative;
    width: 100%;
}

.side-fields {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.opponent-side-fields {
    justify-content: flex-end;
}

.you {
    height: 55%;
}

.you .BoardField {
    height: 25%;
}

.opponent .BoardField {
    height: 30%;
}

.opponent {
    height: 45%;
}

.cards-fields {
    width: 15%;
    display: flex;
}

.you-cards-fields {
    margin-bottom: 2rem;
    align-items: flex-end;
}

.opponent-cards-fields {
    margin-top: 2rem;
}

.waiting {
    pointer-events: none;
}


  
  



  
  