/* body {
    background: url('../img/bg.jpg');
    background-size: cover;
} */

.Board {
    background: url('../img/bg.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.Board-firstPlayer-overlay {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
}

.Board-firstPlayer-overlay > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
}

.overlay-you, .overlay-opponent {
    z-index: 999;
    pointer-events: none;
    -moz-animation: animate ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: animate ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: animate ease-in 3s;
    /* Opera */
    animation: animate ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes animate {
    15% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
}
@-webkit-keyframes animate {
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}