.CardDetails {
  position: absolute;
  top: -25%;
  right: 0;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.CardDetails img {
    height: 25rem;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #f4f4f4;
  background: rgba(0,0,0,0.5);
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  border: 1px solid #ffffff;
  position: relative;
  overflow: hidden;
}
  
.play-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(255, 195, 29, 0.4)
}
  
.play-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      120deg,
      transparent,
      rgba(255, 195, 29, 0.4),
      transparent
  );
  transition: all 650ms;
}
  
.play-btn:hover:before {
  left: 100%;
}

.ready-btn {
  margin-top: 5rem;
  padding: 1rem 4rem;
  border-radius: 0;
}

.ready {
  background-color: green;
}