.MatchList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MatchList-heading {
    text-align: center;
    color: #ffffff;
}

.MatchList-heading h1 {
    margin-bottom: 3rem;
    font-weight: 600;
    position: relative;
}

.MatchList-heading h1:after {
    content: '';
    height: 2px;
    width: 2rem;
    position: absolute;
    left: 50%;
    bottom: -1rem;
    transform: translateX(-50%);
    background-color: #fff;
}

.MatchList-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
    max-width: 75%;
}

.MatchList-list {
    display: flex;
    flex-wrap: wrap;
}