.Board-firstPlayer-overlay, .Board-winner-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
}

.Board-winner-overlay {
    z-index: 99;
    opacity: 1;
}

.Board-firstPlayer-overlay > div, .Board-winner-overlay > div {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: #ffffff;
      box-shadow: 0px 0px 25px #ffc455;
}

.overlay-you, .overlay-opponent {
    z-index: 999;
    pointer-events: none;
    -moz-animation: animate ease-in 2.5s forwards;
    /* Firefox */
    -webkit-animation: animate ease-in 2.5s forwards;
    /* Safari and Chrome */
    -o-animation: animate ease-in 2.5s forwards;
    /* Opera */
    animation: animate ease-in 2.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes animate {
    25% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
}
@-webkit-keyframes animate {
    85% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}